@tailwind base;
@tailwind components;
@tailwind utilities;

aside .slick-slider.slick-initialized {
    margin: 0;
    margin-bottom: 30px;
}
aside .slick-slide img {
    width: 100%;
}
.main-footer .slick-slider.slick-initialized {
    display: none;
}